{% extends 'base.html.twig' %}

{% block title %}Liste des ingrédients{% endblock %}

{% block body %}
    <h1>Liste des ingrédients</h1>

    {% if ingredients|length > 15 %}
    <a class="btn btn-primary mb-3" href="{{ path('app_ingredients_new') }}">Nouvel ingrédient</a>
    {% endif %}

        
        <form method="post" action="/action_page.php">
        <select id="IngredientCat" class="form-select" aria-label="Default select example">
            <option selected> Filtrer par :</option>
            <option value="0">Toutes</option>
        {% for categorie in ingredients_categories %}
            <option value=" {{ categorie.id }}">{{ categorie.title }}</option>
        {% endfor %} 
        </select>
       
        </form>


    <table class="table">

        <thead>
            <tr>
               
                <th>Titre</th>
                <th>Description</th>
                <th>Catégorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ingredient in ingredients %}
            <tr>
               
                <td>{{ ingredient.title }}</td>
                <td>{{ ingredient.description }}</td>
                <td>{{ ingredient.categorie }}</td>
                <td>
                    <a  class="btn btn-primary" href="{{ path('app_ingredients_show', {'id': ingredient.id}) }}">Voir</a>
                    <a  class="btn btn-primary" href="{{ path('app_ingredients_edit', {'id': ingredient.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun ingrédient</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a class="btn btn-primary" href="{{ path('app_ingredients_new') }}">Nouvel ingrédient</a>
{% endblock %}
