{% extends 'base.html.twig' %}

{% block title %}Ingrédients{% endblock %}

{% block body %}
    <h1>Ingrédients</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ingredient.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ ingredient.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ ingredient.description }}</td>
            </tr>
            <tr>
                <th>Mesure</th>
                <td>{{ ingredient.mesure }}</td>
            </tr>
        </tbody>
    </table>

<div class="col-lg-12 mt-2"><a  class="btn btn-primary" href="{{ path('app_ingredients_index') }}">Retour à la liste</a></div>

<div class="col-lg-12 mt-2"><a  class="btn btn-primary" href="{{ path('app_ingredients_edit', {'id': ingredient.id}) }}">Modifier</a></div>

    {{ include('ingredients/_delete_form.html.twig') }}
{% endblock %}
