{% extends 'base.html.twig' %}

{% block title %}Recettes : {{ recette.titre|capitalize }}{% endblock %}

{% block body %}
    <h1>Recettes : {{ recette.titre|capitalize }}</h1>

        <div class="card recette-show col-md-8 mt-5 mb-5">
            <div class="row align-items-between justify-content-center">

                <div class="col-md-6 card-image-top">
                    <img src="/uploads/{{ recette.file }}" class="card-img-top" alt="{{ recette.titre }}">

                </div>

                <div class="col-md-6 ">
                    <div class="row p-2 ">
                        <h5 class="card-title">{{ recette.titre|capitalize }}</h5>
                        <p class="card-text">{{ recette.description }}</p>
                        <div class="mb-5 card-body">
                            <h6>Ingrédients</h6>
                        {% for ingredient in recette.getIngredients %}
                            {{ ingredient.title }} :
                            {% for ingredientByRecette in ingredient.ingredientsByRecettes %}
                            {% if ingredientByRecette.recette.id == recette.id  %}

                            <b>{{ ingredientByRecette.quantity }}</b>

                    
                            {% endif %}

                            {% endfor %}

                        {{ ingredient.mesure }}
                        <br/>

            
                        {% endfor %}
                        </div>
                     
                    </div>
                </div>

                {% if recette.instructions %} 
                <div class="card-body mb-5 col-md-12">
                {{ recette.instructions }}
                </div>
                {% endif %} 

                {% if recette.source %} 
                <div class="card-body mb-5 col-md-12">
                <a target="_blank" href="{{ recette.source }}">Recette source</a>
                </div>
                {% endif %} 

            </div>

            <div class="buttons mt-5">
                <div><a  class="btn btn-primary" href="{{ path('app_recettes_edit', {'id': recette.id}) }}">Modifier</a></div>
                <div><a  class="btn btn-primary" href="{{ path('app_recettes_index') }}">Retour à la liste</a></div>
                <div>{{ include('recettes/_delete_form.html.twig') }}</div>

            </div>
        </div>  
     
        





    



   
{% endblock %}
